<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employee application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container">
	<h1 style="color: red; text-align: center;">Welcome - Employee Management Application</h1>
	<hr color="blue">
	<br>
	<h2 style="color: purple; text-align: center;"><a href="hire-employee"><img src="images/add.png" width="25px" height="25px">Hire employee</a></h2>
	<br>
	<h2 style="color: purple; text-align: center;"><a href="employees-report"><img src="images/report.png" width="25px" height="25px">Get employee report</a></h2>
</body>
</html>